## Issues:

{% for issue in platform_issues.content %}
* \#{{ issue.id }} {{ issue.title }} @{{ issue.author.name }} - {{ issue.web_url }}
{% endfor %}

## Changes:

{% for change in git_changes.stdout_lines %}
* {{ change }}
{% endfor %}
